body{
    background: url(../images/SL-043021-42650-26.jpg) no-repeat top center/cover;

}

.container{
    width: 400px;
    height: 400px;
    background-color: bisque;
    margin: auto;
    margin-top: 90px;
}
.form{
    text-align: center;
    padding-top: 16px;
}