body {
  background: url(../images/SL-043021-42650-26.jpg) no-repeat top center/cover;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 450px;
  height: 500px;
  background-color: purple;
  font-size: 20px;
  margin: auto;
  margin-top: 90px;
  border: solid plum 1px;
}
.form {
  text-align: center;
  padding-top: 16px;
}
#number, #send{
  padding: 5px; 
}

.return{
  padding-top: 3px;
  color: black;
  text-align: center;
}
/*header*/
header {
  width: 100%;
  height: 60px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
.menu li {
  display: inline-block;
  margin: 0 10px;
}
.menu li a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 15px;
}

.menu li a:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 10px 13px;
}
