*{
    color: white;
}
body{
    background: url(../images/SL-043021-42650-26.jpg) no-repeat top center/cover;
}

#text{
    text-align: center;
  }
  .p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .p p {
    font-weight: 600;
    max-width: 450px;
  }