* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(../images/SL-043021-42650-26.jpg) no-repeat top center/cover;
}

.container h1{
  text-align: center;
}
.container {
  display: flex;
  width: 90%; /* Ajuste conforme necessário */
  max-width: 800px; /* Ajuste conforme necessário */
  margin: 250px 200px;
  padding: 20px;
  font-size: 30px;
}

img{
  width: 300px; /* Ajuste conforme necessário */
  height: auto; /* Isso mantém a proporção da imagem */
  position: absolute;
  top: 50%; /* Posiciona a imagem a partir do topo */
  right: 20px; /* Distância da borda direita da janela */
  transform: translateY(-50%); /* Ajusta a posição verticalmente */
  margin-right: 300px;
}

.p p {
  max-width: 100%; /* Para garantir que o texto se ajuste à largura do container */
}



/*header*/
header {
  width: 100%;
  height: 60px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
.menu li {
  display: inline-block;
  margin: 0 10px;
}
.menu li a {
  font-size: 24px;
  text-decoration: none;
  padding: 10px 15px;
}

.menu li a:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 10px 13px;
}
