*{
    color: white;
}
body{
    background-color: black;
}

#text{
    text-align: center;
  }
  .p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .p p {
    font-weight: 600;
    max-width: 450px;
  }