body{
    background: url(../images/SL-043021-42650-26.jpg) no-repeat top center/cover;
    height: 100vh;
}
.pictures{
    display: flex; 
    flex-wrap: wrap; /* Permite que os itens sejam distribuídos em várias linhas */
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
    gap: 10px; 
}
#password, #project2, #project3, #project4 {
    flex: 0 1 calc(50% - 20px); /* Divide o contêiner em duas colunas com gap */
    padding: 24px;
    max-width: 400px;
    margin-bottom: 20px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}




#password, #project2 {
    align-self: flex-start; 
}

#project3, #project4 {
    align-self: flex-end;
}

#password a:hover{
    border: 1px solid white;
}